streamlit
azure-storage-blob
altair                    
attrs                     
azure-ai-formrecognizer   
azure-common              
azure-core                
azure-identity            
azure-storage-blob        
azureml-dataprep          
azureml-dataprep-native   
azureml-dataprep-rslex    
azureml-fsspec            
blinker                   
cachetools                
certifi                   
cffi                      
chardet                   
charset-normalizer        
click                     
cloudpickle               
contourpy                 
cryptography              
cycler                    
fonttools                 
fsspec                    
gitdb                     
GitPython                 
idna                      
isodate                   
Jinja                    
jsonschema                
jsonschema-specifications 
kiwisolver                
markdown-it-py            
MarkupSafe                
matplotlib                
mdurl                     
msal                      
msal-extensions           
msrest                    
numpy                     
oauthlib                  
packaging                 
pandas                    
pillow                    
pip                       
portalocker               
prettytable               
protobuf                  
pyarrow                   
pycparser                 
pydeck                    
Pygments                  
PyJWT                     
PyMuPDF                   
PyMuPDFb                  
pyparsing                 
PyPDF                    
python-dateutil          
pytz                      
PyYAML                    
referencing               
reportlab                 
requests                  
requests-oauthlib         
rich                      
rpds-py                   
setuptools                
six                       
smmap                     
streamlit                 
tenacity                  
toml                      
toolz                     
tornado                   
typing_extensions         
tzdata                    
urllib                   
watchdog                  
wcwidth                   
Werkzeug